.Cards {
  display: flex;
  padding-top: 2%;;
  flex-direction: column; /* This ensures the cards are arranged vertically */
  gap: 20px;
}

.parentContainer {
  width: 100%;
  padding-right: 44px;
}

@media screen and (max-width: 1200px) {
  .Cards {
    flex-direction: column;
  }
  .parentContainer {
    height: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .Cards {
    width: 90%;
  }
}
